* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

#pinsContainer {
  flex-wrap: wrap;
  gap: 15px;
  padding: 30px;
}

.pin {
  display: inline-block;
  width: 100%;
  border-radius: 12px;
  margin-bottom: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  break-inside: avoid; /* важно для column layout */
}


.image-wrapper {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border-radius: 12px 12px 0 0;
}

.image-wrapper:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.35);
}

.main-photo {
  width: 100%;
  min-height: 200px;
  max-height: 500px;
  object-fit: cover;
  display: block;
}

.image-wrapper:hover  .main-photo{
filter: brightness(60%);
} 

.actions {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: none; 
}

.image-wrapper:hover .actions {
  display: block;
} 

.dots-btn {
  background-color: transparent;
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 20px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.image-wrapper:hover .dots-btn {
  display: flex; 
}

.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  background-color: white;	
}

.user-info img.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info span {
  font-size: 14px;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
}

.opened-menu {
  position: absolute;
  top: -60px;
  right: 0;
  background-color: white;
  border: 1px solid #fff;
  border-radius: 6px;
  min-width: 140px;
  font-size: 14px;
}


.menu-item {
  padding: 10px 12px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #f0f0f0;
}

.hidden {
  display: none;
}
